@media (min-width: 1050px) {
    div {
        overflow: hidden;
    }
    .navigationItem{
        height: 5vw;
        text-align: center;
    }
    a{
        color: black;
        text-decoration: none;
    }


    h3.special{
            margin-top: 1vw;
    }
    h3 {
            font-size: 1.2vw;
            margin-top: 1.5vw;
    }
    .navigationItem:hover{
        background-color: red;
    }
    .active {
        background-color: red;
    }
    ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(7,1fr);

    }
}
@media (max-width: 1049px) {
    li{
        height: 20vw;
        text-align: center;
        padding-top: 7vw;
        width: 100vw;
    }
    a{
       color: black;
       text-decoration: none;
   }
   .active li{
        border-right: solid red 5px;
        border-left: solid red 5px;
   }
   h3{
       margin: 0px;
       font-size: 5vw;
   }

}