@media (min-width: 1200px) {
.title {
    text-align: center;
    font-size: 2vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.img {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
.paragraph {
    text-align: left;
    font-size: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
}
.film {
    width: 80vw;
    height: 45vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
}
@media (max-width: 1199px) {
    .title {
        text-align: center;
        font-size: 6vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .img {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .paragraph {
        font-size: 4.5vw;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-bottom: 4vw;
        margin-top: 4vw;
    }
    .film {
        width: 80vw;
        height: 45vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
